<!-- About -->
  <div class="row" id="about">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2 class="titles">About Me</h2>
      <p>I graduated from Full Sail University with a BS in Entertainment Business. I excelled in the program but as I learned about the industry I kept seeing ways that technology could improve the business for creators, consumers and investors. That’s when I knew that I would be a developer.<br><br>Keeping my graphic design clients, I enrolled in The Flatiron School for Web Development. I am on my way to becoming a fullstack web developer with experience in <strong>Ruby on Rails</strong> and <strong>Angular JavaScript</strong>. </p>
    </div>
    <div class="col-md-2"></div>
  </div>
