<!-- Main-header -->

<header>
    <div class="container" id="intro-bg">
      <div class="row">
        <div class="col-md-12 text-center intro">
          <h1 class="animated fadeIn">Hi!  I'm Rebecca.</h1>
          <h2>I make things. <span id="line">|</span></h2>
          <div class="social-media-icons">
            <a href="https://github.com/reb3cca" target="_blank"><i class="fa fa-github fa-3x  animated pulse" aria-hidden="true"></i></a>
            <a href="mailto:reb3cca.fisher@gmail.com" target="_blank"><i class="fa fa-envelope-o fa-3x animated pulse" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </header>
