<!-- Portfolio -->
  <div class="divider" id="portfolio"></div>

  <div class="row portfolio" id="project-1">
    <div class="col-md-6">
      <a href="#">
        <img class="img-responsive" src="img/imac.png" alt="Future project 1">
      </a>
    </div>
    <div class="col-md-6">
      <h3>Future project 1</h3>
      <h5>Winter 2017 | Web Application</h5>
      <h5>Ruby on Rails / JavaScript / HTML / CSS / Twitter API</h5>
      <p>A fantastic project that I will make as a course project while trying out my new skills.
      </p>
      <a class="btn btn-primary" href="https://herokuapp.com/" target="_blank">View Live</a>
      <a class="btn btn-primary" href="https://youtu.be" target="_blank">Youtube Video</a>
      <a class="btn btn-primary" href="https://github.com/" target="_blank">View Repo</a>
    </div>
  </div>

  <div class="divider"></div>

  <div class="row portfolio" id="project-2">
    <div class="col-md-6">
      <a href="#">
        <img class="img-responsive" src="img/macbook.png" alt="Future project 2">
      </a>
    </div>
    <div class="col-md-6">
      <h3>Future project 2</h3>
      <h5>Spring 2017 | Web Application</h5>
      <h5>React / Ruby on Rails</h5>
      <p>A fantastic project that I will make while trying out my new skills.
      </p>
      <a class="btn btn-primary" href="https://herokuapp.com/" target="_blank">View Live</a>
      <a class="btn btn-primary" href="https://youtu.be" target="_blank">Youtube Video</a>
      <a class="btn btn-primary" href="https://github.com/" target="_blank">View Repo</a>
    </div>
  </div>

  <div class="divider"></div>

  <div class="row portfolio" id="project-3">
    <div class="col-md-6">
      <a href="#">
        <img class="img-responsive" src="img/macbook.png" alt="Future project 3">
      </a>
    </div>
    <div class="col-md-6">
      <h3>Future project 3</h3>
      <h5>Winter 2017 | Web Application</h5>
      <h5>Ruby on Rails / Angular JS</h5>
      <p>A fantastic project that I will make while trying out my new skills.
      </p>
      <a class="btn btn-primary" href="https://herokuapp.com/" target="_blank">View Live</a>
      <a class="btn btn-primary" href="https://youtu.be" target="_blank">Youtube Video</a>
      <a class="btn btn-primary" href="https://github.com/" target="_blank">View Repo</a>
    </div>
  </div>

  <div class="divider"></div>

  <div class="row portfolio" id="project-4">
    <div class="col-md-6">
      <a href="#">
        <img class="img-responsive" src="img/imac.png" alt="Future project 4">
      </a>
    </div>
    <div class="col-md-6">
      <h3>Future project 4</h3>
      <h5>Winter 2017 | Web Application</h5>
      <h5>Ruby on Rails / JavaScript / HTML / CSS / Twitter API </h5>
      <p>A fantastic project that I will make while trying out my new skills.
      </p>
      <a class="btn btn-primary" href="https://herokuapp.com/" target="_blank">View Live</a>
      <a class="btn btn-primary" href="https://youtu.be" target="_blank">Youtube Video</a>
      <a class="btn btn-primary" href="https://github.com/" target="_blank">View Repo</a>
    </div>
  </div>
