/*///// GLOBAL /////*/

.heading-font {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

.body-font {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

.alt-font {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
}

.row {
  margin: 56px 24px; // change this to less when responsive
}

.titles {
  text-align: center;
  margin: 16px 0;
}

.divider {
  width: 94%;
  height: 1px;
  background-color: rgba(0,0,0,0.1);
  margin: 124px auto;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #fff;
  &:hover, &:focus {
    color: #e91e63;
  }
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
  &.light {
    border-color: white;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
  a {
    text-decoration: underline;
  }
}

li {
  font-size: 18px;
}

/*///// NAVBAR ////*/

/* while header */
.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.1);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  .navbar-header {
    .navbar-brand {
      font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
      font-weight: 200;
      letter-spacing: 1px;
      color: #646468;
      &:hover, &:focus {
        color: #e91e63;
      }
    }
    .navbar-toggle {
      font-size: 12px;
      color: #222222;
      padding: 8px 10px;
    }
  }
  .nav > li {
    > a {
      font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 0.8em;
      color: #646468;
      &:focus {
        color: #fff;
      }
      &:hover, &:focus:hover {
        color: #fff;
      }
    }
    &.active > a {
      color: #e91e63;
      background-color: transparent;
      &:focus {
        color: #e91e63;
        background-color: transparent;
      }
      &:hover, &:focus:hover {
        background-color: transparent;
      }
    }
  }
  /* while fixed */
  .affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.1);
    .navbar-header {
      .navbar-brand{
        &:hover, &:focus {
          color: #e91e63;
        }
      }
    }
    .nav > li {
      &.active > a {
        color: #e91e63;
        &:focus {
          color: #e91e63;
        }
      }
      > a {
        &:hover, &:active, &:focus, &:focus:hover {
          color: #e91e63;
        }
      }
    }
  }
}


@media (min-width: 768px) {

  .navbar-default {
    background-color: transparent;
    border-color: transparent;
    .navbar-header .navbar-brand {
      color: #646468;
      &:hover, &:focus {
        color: white;
      }
    }
    .nav > li > a {
      color: 646468;
      &:focus {
        color: 646468;
      }
      &:hover, &:focus:hover {
        color: white;
      }
    }
    &.affix {
      background-color: white;
      border-color: rgba(34, 34, 34, 0.1);
      .navbar-header .navbar-brand {
        color: #222222;
        &:hover, &:focus {
          color: #e91e63;
        }
      }
      .nav > li > a {
        color: #222222;
        &:focus {
          color: #222222;
        }
        &:hover, &:focus:hover {
          color: #e91e63;
        }
      }
    }
  }
}


/*///// HEADER /////*/

header {
  position: relative;
  width: 100%;
  min-height: auto;
  overflow-y: hidden;
  background: #efe2e8;
  color: #646468;
  .header-content {
    text-align: center;
    padding: 150px 0 50px;
    position: relative;
    .header-content-inner {
      position: relative;
      max-width: 500px;
      margin: 15% auto 0;
      .list-badges {
        margin-bottom: 25px;
        img {
          height: 50px;
          margin-bottom: 25px;
        }
      }
    }
  }
  .device-container {
    max-width: 300px;
    margin: 0 auto 100px;
    .screen img {
      border-radius: 3px;
    }
  }
  .intro {
    margin-top: 20%;
    h1 {
      margin-top: 0;
      margin-bottom: 30px;
      font-size: 4em;
      color: #646468;
      opacity: 0.8;
    }
    h2 {
      margin-bottom: 36px;
      margin: 36px auto 56px;
      white-space: nowrap;
      overflow: hidden;
      width: 20em;      /* adjust to keep centered as screen size decreases */
      display: inline-block;
      animation: type 3s steps(13, end); /* steps are number of characters in what is typed */
      -webkit-animation: type 3s steps(13, end);
      color: #646468
    }
    i {
      color: #646468;
      margin: 0 16px 24px;
      &:hover {
        color: #fff;
        opacity: 0.8;
      }
    }
  }
}
@keyframes type{
    from { width: 0; }
}
@-webkit-keyframes type{
    from { width: 0;  }
}
#line{
  animation: blink 1s infinite;
}
@keyframes blink{
  to{opacity: .0;}
}


@media (min-width: 768px) {
  header {
    min-height: 100%;
    .header-content {
      text-align: center;
      padding: 0;
      height: 100vh;
      .header-content-inner {
        max-width: none;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        h1 {
          font-size: 4em;
        }
      }
    }
    .device-container {
      max-width: none;
      max-height: calc(0vh);
      margin: 100px auto 0;
    }
  }
}

@media (min-width: 992px) {
  header .header-content .header-content-inner h1 {
    font-size: 50px;
  }
}

/*///// ABOUT /////*/

#about {
  background-image: none;
  background-size: cover;
  margin: 0;
  padding: 88px 0;
  p {
    font-size: 16px
  }
}

/*///// PORTFOLIO /////*/

.portfolio p {
  color: rgba(0,0,0,0.5);
  margin-top: 16px;
  font-size: 16px
}

#portfolio {
  margin-top: 0;
}
.wistem {
  padding: 0 56px;
}

@media (min-width: 768px) {
  .portfolio {
    padding: 0 20px;
  }
}

/*///// PORTFOLIO BUTTONS /////*/

.btn-primary, .btn-primary:active, .btn-primary:focus {
  color: #E91E63;
  border: 2px solid #E91E63;
  background-color: white;
  font-size: 12px;
  padding: 8px 16px;
  margin-right: 16px;
  border-radius: 4px;
}

.btn-primary:hover {
  background-color: #E91E63;
  color: white;
  border: 2px solid #E91E63;
}

.btn {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 300px;
}

.btn-xl {
  padding: 15px 45px;
  font-size: 11px;
}


section {
  padding: 100px 0;
  h2 {
    font-size: 50px;
  }
  &.download {
    padding: 150px 0;
    position: relative;
    h2 {
      margin-top: 0;
      font-size: 50px;
    }
    .badges .badge-link {
      display: block;
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
      img {
        height: 60px;
      }
    }
  }
}

/*///// FOOTER /////*/

footer {
  background-color: #222222;
  padding: 25px 0;
  color: rgba(255, 255, 255, 0.3);
  text-align: center;
  p {
    font-size: 12px;
    margin: 0;
  }
  ul {
    margin-bottom: 0;
    li a {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.3);
      &:hover, &:focus, &:active, &.active {
        color: #e91e63;
      }
    }
  }
}

/*///// Addt'l RESPONSIVE /////*/

@media (max-width: 767px) {
  .intro h2 {
    font-size: 20px;
    animation: none;
  }
  #line{
    visibility: hidden;
  }
  .wistem {
    padding: 0;
  }
  .divider {
    margin: 24px auto;
  }
  .row {
    margin: 32px 8px;
  }
}

@media (max-width: 995px) {
  .intro h2 {
    width: auto;
  }
  .row {
    margin: 32px 16px;
  }
}

@media (min-width: 767px) {
  .project {
    padding: 0 20px;
  }
}

/*///// BLOG POSTS /////*/

article #post {
  display: inline;
  img {
    max-width: 95%
  }
}

.intro-header {
  display: block;
  padding: 60px 0 40px;
  .site-heading .subheading, .page-heading .subheading {
    font-size: 1.5em;
    line-height: 1.5;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 10px 0 0;
  }
  .post-heading {
    h1 {
      font-size: 3em;

    }
    .subheading, .meta {
      line-height: 1.1;
      display: block;
    }
    .subheading {
      font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
      font-size: 1.5em;
      margin: 10px 0 30px;
      font-weight: 600;
    }
    .meta {
      font-family: 'Lora', 'Times New Roman', serif;
      font-style: italic;
      font-weight: 300;
      font-size: 1em;
      a {
        color: 646468;
        a:hover, a:focus {
          color: #e91e63;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .intro-header {
    min-height: auto;
    .site-heading, .post-heading, .page-heading {
      padding-top: 10%;
      padding-bottom: 10%;
    }
    .site-heading h1, .page-heading h1 {
      font-size: 3em;
    }
    .post-heading {
      h1 {
        font-size: 3em;
      }
      .subheading {
        font-size: 2em;
      }
    }
  }
  article #post {
    padding: 0 20px;
  }
}

#header {
  h1, h2, p, a, span {
    color: #646468;
  }
  a:hover, a:focus {
    color: #e91e63;
  }
}

#post, #blog {
  color: #646468;
  a {
    color: #646468;
    &:hover, &:focus {
      color: #e91e63;
    }
  }
}

.bg-primary {
  background: $theme-primary;
}

.text-primary {
  color: $theme-primary;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

::-moz-selection, ::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}

img {
  &::selection, &::-moz-selection {
    color: white;
    background: transparent;
  }
}

body {
  webkit-tap-highlight-color: #222222;
}
